body {
    font-family: "Helvetica Neue";
    font-size: 10pt;
}

#booker table {
    width:1200px;
    margin:auto;
    border:1px solid black;
}
#booker table td, #booker table th {
    font-size:10pt;
    text-align:left;
}
#booker table input, #booker table select {
    width:100%;
    font-size:12pt;
}

#booker table th:last-child, #booker table td:last-child {
    text-align:right;
}
#booker input[type="button"] {
    background-color: rgb(84, 163, 255);
    border:0px;
    width:100px;
}
#progressbar table {
    width:1200px;
    margin:auto;
    padding:0;
    border:0;
}
#progressbar table td {
    margin:0;
    padding:0;
    border:0;
}
#progressbar table .free {
    background-color: rgba(13, 22, 37, 0.13);
    height:20px;
    width:150px;
}
#progressbar table .taken {
    background-color: rgb(84, 163, 255);
    height:20px;
    width:150px;
}
#progressbar table tr:first-child, #progressbar table tr:last-child {
    width:50px;
    font-size:8pt;
}
